body{
	background: #dadbe0;
	padding-top: 70px;
}
table th{
	font-weight: normal;
}
/*字体设置*/
body,h1,h2,h3,h4,h5,h6,span,b,p,article{
font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体" !important;
}
.c1{
	background-color:#70ba2a !important;
}
.c2{
	background-color:#2aba85  !important;
}
.c3{
	background-color:#4bc3d5  !important;
}
.c4{
	background-color:#8987f5  !important;
}
.c5{
	background-color:#cd87f5  !important;
}
.c6{
	background-color:#f587a3  !important;
}
.c7{
	background-color:#f5d287  !important;
}
.c8{
	background-color:#bfde60  !important;
}
.c9{
	background-color: ;
}
.back{
    width: 12px;
    padding: 6px 0;
}
.navbar{
	  background: #fff;
  border-bottom: 1px solid #C3C3C3;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}
a:hover{
	text-decoration: none;
	  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.logo{
	width: 40px;
}
.user-avatar{
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
}
.navbar-nav>li>a {
	line-height: 43px;
	padding:10px 20px;
}
.navbar-nav>li.active>a{
	background-color: #71ba2b !important;
	color: #fff !important;
}
.user-menu li a{
	padding: 10px 40px;
}
.top{
	width: 100%;
	padding: 20px 0;
	float: left;
}
.top h3{
	float: left;
	margin: 0;
	margin-right: 10px;
}
.top ul{
	margin: 0;
	padding: 0;
	float: left;
}
.top ul li{
	display: inline-block;
}
.top ul li a{
	color: #aaa;
	line-height: 28px;
	padding:0 10px;
}
.top ul li a.active{
	color: #666;
}
.top .search-form{
	float: right;
	line-height: 28px;
}
.card{
	display: inline-block;
	cursor: pointer;
	  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  margin-bottom: 20px;
}
.card .inner{
	background: #fff;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
	border-radius: 10px;
	overflow: hidden;
	  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.card:hover .inner{
	box-shadow: 0px 25px 25px rgba(0,0,0,0.05);
}
.card .header{
	background-size: cover;
}
.card .header .mask{
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	min-height: 300px;
	padding: 20px;
	padding-bottom: 0;
	position: relative;
	-webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;

}
.card:hover .mask{
	background-color: rgba(0,0,0,.2); 
}
.card .header .mask .line{
	width: 100%;
	font-size: 14px;
	float: left;
	margin-bottom: 10px;
}
.card .header .mask .title{
	display: block;
	font-size: 24px;
}
.card .header .mask .time{
	font-size: 13px;
	color: rgba(255,255,255,0.5);
}
.card .header .mask .state{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.card .state .label{
    position: absolute;
    right: -12px;
    top: -17px;
}
.card .state .label span{
	  position: absolute;
  /* z-index: 9999; */
  right: 30px;
  line-height: 30px;
}
.card .header .mask .state .progress{
	margin: 0;
    border-radius: 0;
    background: #333;
    box-shadow: inset 0 0px 12px rgba(0,0,0,.5);
}
.card .header .mask .state .progress .progress-bar{
	background-color: #70ba2a;
}
.card .header .mask .state .progress .progress-bar .sr-only{
	position: absolute;
	left: 20px;
   width: auto; 
   height: auto; 
  padding: 0;
  margin: -1px;
   overflow: visible; 
   clip: auto ; 
  border: 0;
  z-index: 9999;
}
.card .footer{
	padding: 10px 20px;
    color: #7B7B7B;
    font-size: 13px;
    line-height: 24px;
}
.card .footer table{
	width: 100%;
}
.new-card{
	text-align: center;
}
.new-card .inner{
		height: 368px;
		color: #aaa;
		font-size: 18px;
		line-height: 368px;
}
.new-card img{
	background-color: #e2e7ea;
	padding: 30px;
	border-radius: 50%;
	  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.new-card:hover img{
	background-color: #70ba2a;
}
.plan{
	background: #fff;
	padding: 0;
	margin-top:20px;
}
.plan .header{
	background-size: cover;
	background-repeat: no-repeat;
}
.plan .header .mask{
	background-color: rgba(0,0,0,0.7);
	padding:80px 0 120px;
	color: #fff;
	position:relative;
}
.plan .header .mask p{
	opacity: .6;
}
.plan .header .mask .title{
	width: 100%;
	font-size: 26px;
	line-height: 26px;
}
.plan .header .mask .title .time{
	font-size: 14px;
	line-height: 26px;
}
.plan .header .mask .label{
	position: absolute;
  right: -12px;
  bottom: 12px;
}
.plan .header .mask .label span{
	  position: absolute;
  right: 26px;
  line-height: 28px;
}
.plan .inner{
	max-width: 760px;
	margin:0 auto;
}
.plan .t1{
	  margin-top: -70px;
  display: block;
  overflow: hidden;
    position: relative;
  z-index: 9;
}
.plan .t1 .number{
	font-size: 13px;
	color: #fff;
	margin-bottom: 5px;
	opacity: .6;
}
.plan .t1 .analistic{
	background-color: #70ba2a;
	border-radius: 6px;
	padding: 20px;
	overflow: hidden;
	color: #fff;
	text-align: center;
}
.plan .t1 .analistic .shuzi{
	font-size: 24px;
	font-weight: bolder;
}
.plan .t1 .analistic img{
	margin:10px;
}
.plan .t1 .border{
	border-left: 1px solid #64a625;
	border-right: 1px solid #64a625;
}
.plan .t2{
	margin:40px 0 20px;
}
.plan .name{
	background-color: #eee;
	color: #333;
	padding:10px;
	border-radius: 6px;
	font-size: 16px;
}
.plan .name .pull-right{
	font-size: 14px;
	color: #aaa;
}
.plan .t2 .members{
	padding:10px 0;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	color: #666;
}
.plan .t2 .members .member{
	margin-bottom: 10px;
}
.plan .t2 .members a{
	display: block;
	color: #666;
}
.plan .t2 .load-more a{
	display: block;
	text-align: center;
	margin-top: 10px;
}
.plan .t3{
	margin:20px 0 40px;
}
.reports{
	padding: 10px 0;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	color: #666;
}
.report{
	border-radius: 6px;
	display: block;
	overflow: hidden;
	box-shadow: 0 4px 12px rgba(0,0,0,0.2);
	margin-bottom: 20px;
	text-decoration: none;
	 -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.report:hover{
	box-shadow: 0 4px 18px rgba(0,0,0,0.1);
}
.report .main{
	background-color: #70ba2a;
	color: #fff;
	font-size: 16px;
	padding:20px 10px;
	position: relative;
	background-image: url('img/tuten.png');
	background-repeat: no-repeat;
	background-position:bottom right;
}
.report .main .tuten{
	position: absolute;
	right: 0;
	bottom: 0;
}
.report .footer{
	padding:5px 10px;
	color: #aaa;
}
footer{
	text-align: center;
	color: #aaa;
	padding: 40px 0;
}
.baogao{
	background: #fff;
	padding: 20px 0 50px;
	margin-top:20px;
}
.baogao .inner{
	max-width: 760px;
	margin: 0 auto;
}
#member{
	background: #fff;
	box-shadow: 0 4px 12px rgba(0,0,0,0.2);
	margin:20px 0;
}
#member thead{
	background: #eee;
  	color: #333;
}
#member tfoot{
	background: #eee;
  	color: #aaa;
  	border-top: 2px solid;
}
.fm-selector .col-sm-3{
	position: relative;
	padding: 2px;
	cursor: pointer;
}
.fm-selector .col-sm-3 input{
	position: absolute;
	top: 5px;
	right: 7px;
}
.report-select  .footer:before{
	content: "已选择"
}
.ssr{
	cursor: pointer;
	  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.report-select .deactive .main{
	background-color: #ddd !important;
	color: #888;
}
.report-select .deactive .footer:before{
	content: "未选择"
}

h3.title{
	margin-bottom: 40px;
}


.top{
	display: none;
}
.top{
padding: 0;
margin: 0;
margin-bottom: 20px;
background: #333;
}
.top .left{
	border-bottom: 4px solid #71BA2B;
	height: 48px;
	width: 70%;
	float: left;
	text-align: right;
}
.top .right{
	border-bottom: 4px solid #00492C;
	height: 50px;
	width: 30%;
	float: left;
	text-align: left;
}
.top .left img{
	display: block;
	height: 42px;
	width: auto;
	float: right;
}
.top .right p{
	font-size: 6px;
	line-height: 1.2;
	margin-left: 8px;
	font-weight: normal;
	color: #aaa;
}
@media screen and (max-width: 960px) {
.baogao h3.title {
    font-size: 18px;
    line-height: 5;
    font-weight: bold;
    margin: -10px;
    margin-bottom: 20px;
    background: #5FBB6C;
    color: #fff;
}
.back{
	padding: 0;
}
body{
	padding-top: 50px;
}
.navbar {
    background: #fff;
    border-bottom: 1px solid #C3C3C3;
    box-shadow: none;
    border: 0;
    margin: 0;
}
}